<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7ebac06bdf.js" crossorigin="anonymous"></script>
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title">Olá, Bem-vindo(a)</h2>
                <p class="description description-second">Já possue uma conta? crie agora.</p>
                <p class="description description-second" style="margin-bottom: 18px;">você gostaria de cadastrar-se como:</p>
                <button class="btn btn-primary">Cliente</button> <p style="color:#fff ; margin-bottom: 10px;">ou</p>
                <button class="btn btn-primary">Fornecedor</button>
            </div>
            <div class="second-column">
                <img class="img-cadastro" src="../../../assets/img/cadastro.png" alt="cadastro">
            </div>
        </div>

    </div>
</body>
</html>
