<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7ebac06bdf.js" crossorigin="anonymous"></script>
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title">Olá, friend!</h2>
                <p class="description description-second">insira seus dados pessoais</p>
                <p class="description description-second">e começe a comprar.</p>
                <button class="btn btn-primary">Sign up</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Crie sua conta </h2>
                <form class="form">
                    <span class="p-input-icon-left space">
                        <i class="pi pi-user"></i>
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Nome" />
                    </span>
                    <span class="p-input-icon-left space">
                        <i class="pi pi-envelope"></i>
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Email"/>
                    </span>
                    <span class="p-inputtext-sm space">
                        <p-password placeholder="Senha"></p-password>
                    </span>
                    <span class="p-inputtext-sm space">
                        <p-password placeholder="Confirme a senha"></p-password>
                    </span>
                   
                    <button class="btn btn-second">Sign up</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>
