<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7ebac06bdf.js" crossorigin="anonymous"></script>
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title">Olá, friend!</h2>
                <p class="description description-second">Já possue uma conta?</p>
                <p class="description description-second">entra na sua conta e começe a comprar.</p>
                <button class="btn btn-primary">Sign in</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Crie sua conta </h2>
                <form  class="form" 
                (ngSubmit)="onSubmit()"
                [formGroup]="cadastreForm"
                #formDir="ngForm"
                >
                    <span class="p-input-icon-left space">
                        <i class="pi pi-user"></i>
                        <input type="text" class="p-inputtext-sm form-control" pInputText placeholder="Nome" [ngModel]="name" required>
                    </span>
                    <span class="p-input-icon-left space">
                        <i class="pi pi-envelope"></i>
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Email" [ngModel]="email" required>
                    </span>
                    <span class="p-inputtext-sm space">
                        <p-password placeholder="Senha" required></p-password>
                    </span>
                    <span class="p-inputtext-sm space">
                        <p-password placeholder="Confirme a senha" required></p-password>
                    </span>
                   
                    <button type="submit" class="btn btn-second">Sign up</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>
