<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7ebac06bdf.js" crossorigin="anonymous"></script>
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">Bem-vindo(a) de volta</h2>
                <p class="description description-primary">Mantenha-se conectado(a) com a gente.</p>
                <p class="description description-primary">Faça o login com seus dados.</p>
                <button class="btn btn-primary">Sign in</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Entrar na conta </h2>
                <form class="form">
                    <span class="p-input-icon-left space">
                        <i class="pi pi-envelope"></i>
                        <input type="text" pInputText placeholder="Email" class="p-inputtext-sm"/>
                    </span>
                    <p-password class="p-inputtext-sm space" placeholder="Senha" class="senha"></p-password>
                    <a href="#" class="space password">Esqueceu sua senha?</a>
                    <a routerLink="/inicioUsuario">
                        <button class="btn btn-second">Sign in</button>
                    </a>
                    
                </form>
            </div>
        </div>

    </div>
</body>
</html>

