
<!doctype html>
<html lang="pt-br">
    <head>
        <title> Compra da hora </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <meta name="author" content="Daniel">
        <meta name="description" content="descrição bacanuda">
        <meta name="keywords" content="html5, tecnologia">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        
      <link rel="stylesheet" href="/comprafacil/src/app/features/home/normalize.css">
      
    </head>
    <body class="no-js">
        
        <header class="header">
         
          <a href="index.html" class="logo-text"> 
             <img src="../../../assets/img/logo_compra_da_hora PNG modificado.png" alt="logo" style="width: 50px;">
          </a>
          <button style="display: none;" class="header__btnMenu"> <i class="fas fa-bars fa-2x"></i> <span class="sr-only">Menu</span></button>
          
          <nav class="header__nav">
            <ul>
              <li><a href="#quemsomos">Quem somos</a></li>
              <li><a href="#nossosservicos">Serviços</a></li>
              <li><a href="#nossospacotes">Pacotes</a></li>
              <li><a href="#">Crie sua conta</a></li>
              <li><a href="#" class="navbar-text">Login</a></li>
            </ul>
          </nav>
        </header>
        
        <section class="hero"> </section>
        <section class="content-home">
          <div class="container-home">
            <article>
              <h2 style="text-align:center;"><a name="quemsomos">QUEM SOMOS</a></h2>
              <h3>Compra da Hora é um sistema web que organiza e automatiza suas cotações num só lugar, e pode ser acessado de qualquer lugar com acesso à internet.</h3>
              <h3>Com agilidade, rapidez e segurança, realiza suas cotações com apenas um click. Teste gratuitamente nossa plataforma, conheça nossos parceiros.</h3>
            </article>

            <article>
              <img src="../../../assets/img/testesistema.png" alt="sistema">
            </article>  
            </div>
        </section>

        <div class="container-second">
            <h2 style="text-align:center ;"> <a name="nossosservicos">NOSSOS SERVIÇOS</a></h2>
            <section class="people-cards">
              <article class="people-cards__card">               
                  <img src="../../../assets/img/money.png" alt="Carousel Img" class="people-cards__image">
                  <div class="people-cards__content">
                    <h2 class="people-cards__title">PREÇOS</h2>
                    <p class="people-cards__text"> Faça a cotação de seus produtos e encontre o melhor preço em sua região.</p>
                  </div>
              </article>
          
              <article class="people-cards__card">               

                  <img src="../../../assets/img/delivery.png" alt="Carousel Img" class="people-cards__image">

                  <div class="people-cards__content">
                    <h2 class="people-cards__title" id="entregas">ENTREGAS</h2>
                    <p class="people-cards__text">Ganhe tempo em sua entrega, centralizando suas compras num só lugar.</p>
                  </div>
              </article>
              
              <article class="people-cards__card">               

                  <img src="../../../assets/img/interface.png" alt="Carousel Img" class="people-cards__image">

                  <div class="people-cards__content">
                    <h2 class="people-cards__title" id="interface">INTERFACE</h2>
                    <p class="people-cards__text">Interface simples, objetiva e fácil de usar.</p>
                  </div>
              </article>
              
              <article class="people-cards__card">               

                  <img src="../../../assets/img/notification.png" alt="Carousel Img" class="people-cards__image">

                  <div class="people-cards__content">
                    <h2 class="people-cards__title" id="notificacao">NOTIFICAÇÕES</h2>
                    <p class="people-cards__text">Seja notificado em tempo real, com os melhores preços através de notificações via e-mail.</p>
                  </div>
              </article>           
                  
        </section>

        <h2 style="text-align:center ;"> <a name="nossospacotes">NOSSOS PACOTES</a></h2>
            <section class="people-cards" style="margin-left: 150px;">

              <article class="people-cards__card" style="margin-bottom: 150px;">               
                  <div class="people-cards__content">
                    <h2 class="people-cards__title" id="font">MENSAL</h2>
                    <h2 class="preco">29,90</h2>
                    <ul class="people-cards__text" style="white-space: nowrap">
                      <li>Sem limite de usuários</li>
                      <li>Sem limite de produtos</li>
                      <li>Sem limite de cotações</li>
                      <li>Suporte 24 horas</li>
                    </ul>
                  </div>
                  <button class="btn btn-primary">assinar</button>
              </article>
          
              <article class="people-cards__card" style="margin-bottom: 150px;">               

                  <div class="people-cards__content">
                    <h2 class="people-cards__title" id="font">TRIMESTRAL</h2>
                    <h2 class="preco">199,90</h2>
                    <ul class="people-cards__text"  style="white-space: nowrap">
                      <li>Sem limite de usuários</li>
                      <li>Sem limite de produtos</li>
                      <li>Sem limite de cotações</li>
                      <li>Suporte 24 horas</li>
                    </ul>
                  </div>
                  <button class="btn btn-primary">assinar</button>
              </article>
              
              <article class="people-cards__card" style="margin-bottom: 150px;">               

                  <div class="people-cards__content">
                    <h2 class="people-cards__title" id="font">ANUAL</h2>
                    <h2 class="preco">499,90</h2>
                    <ul class="people-cards__text"  style="white-space: nowrap">
                      <li>Sem limite de usuários</li>
                      <li>Sem limite de produtos</li>
                      <li>Sem limite de cotações</li>
                      <li>Suporte 24 horas</li>
                    </ul>
                  </div>
                  <button class="btn btn-primary">assinar</button>
              </article>          
                  
        </section>

        
      </div>

      <section class="footer">
        <p><b>C</b>opyright © 2022 - Todos os direitos reservados</p>
      </section>


    </body>
</html>