<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="comparativo-precos.component.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
      
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <ul class="nav-links">
        <li>
          <a>
            <i class="bx bxs-user"></i>
            <a class="link_name" routerLink="/inicioUsuario">Usuário</a>
          </a>
        </li>
        <li>
          <div class="iocn-link">
            <a routerLink="/inicioUsuario">
              <i class="bx bxs-cart"></i>
              <a class="link_name">Minhas cotações</a>
            </a>
          </div>
        </li>
        <li>
          <a routerLink="/pedidos">
            <i class="bx bxs-store-alt"></i>
            <span class="link_name">Pedidos</span>
          </a>
        </li>
        <li>
          <a routerLink="/produtos">
            <i class="bx bx-compass"></i>
            <span class="link_name">Produtos</span>
          </a>
        </li>
        <li>
          <a routerLink="/promocao">
            <i class="bx bx-heart icon"></i>
            <span class="link_name">Promoções</span>
          </a>
        </li>
        <li>
          <a routerLink="">
            <i class="bx bx-log-out icon"></i>
            <span class="link_name">Sair</span>
          </a>
        </li>
      </ul>
    </div>

<div class="home-section">
  <div>
    <h2>Comparativo de Preços</h2>
  </div>

  <p-accordion [multiple]="true">
    <p-accordionTab header="Sachê de Katchup">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Select Day</th>
            <th scope="col">Fornecedores</th>
            <th scope="col">Qt.</th>
            <th scope="col">Preço sugerido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                  <label class="custom-control-label" for="customCheck1">1</label>
              </div>
            </td>
            <td>Fornecedor 1</td>
            <td>30 UND</td>
            <td>83,50</td>
            
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2">2</label>
              </div>
            </td>
            <td>Fornecedor 2</td>
            <td>30 UND</td>
            <td>87,25</td>
            
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck3">
                  <label class="custom-control-label" for="customCheck3">3</label>
              </div>
            </td>
            <td>Fornecedor 3</td>
            <td>30 UND</td>
            <td>84,60</td>
            
          </tr>
        </tbody>
      </table>
    </p-accordionTab>
    <p-accordionTab header="Guardanapos">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Select Day</th>
            <th scope="col">Fornecedores</th>
            <th scope="col">Qt.</th>
            <th scope="col">Preço sugerido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                  <label class="custom-control-label" for="customCheck1">1</label>
              </div>
            </td>
            <td>Fornecedor 1</td>
            <td>30 UND</td>
            <td>83,50</td>
            
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2">2</label>
              </div>
            </td>
            <td>Fornecedor 2</td>
            <td>30 UND</td>
            <td>87,25</td>
            
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck3">
                  <label class="custom-control-label" for="customCheck3">3</label>
              </div>
            </td>
            <td>Fornecedor 3</td>
            <td>30 UND</td>
            <td>84,60</td>
            
          </tr>
        </tbody>
      </table>
    </p-accordionTab>
    <p-accordionTab header="Copos descartáveis">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Select Day</th>
            <th scope="col">Fornecedores</th>
            <th scope="col">Qt.</th>
            <th scope="col">Preço sugerido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                  <label class="custom-control-label" for="customCheck1">1</label>
              </div>
            </td>
            <td>Fornecedor 1</td>
            <td>30 UND</td>
            <td>83,50</td>
            
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2">2</label>
              </div>
            </td>
            <td>Fornecedor 2</td>
            <td>30 UND</td>
            <td>87,25</td>
            
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck3">
                  <label class="custom-control-label" for="customCheck3">3</label>
              </div>
            </td>
            <td>Fornecedor 3</td>
            <td>30 UND</td>
            <td>84,60</td>
            
          </tr>
        </tbody>
      </table>
    </p-accordionTab>
    <p-accordionTab header="Alface">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Select Day</th>
            <th scope="col">Fornecedores</th>
            <th scope="col">Qt.</th>
            <th scope="col">Preço sugerido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                  <label class="custom-control-label" for="customCheck1">1</label>
              </div>
            </td>
            <td>Fornecedor 1</td>
            <td>30 UND</td>
            <td>83,50</td>
            
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2">2</label>
              </div>
            </td>
            <td>Fornecedor 2</td>
            <td>30 UND</td>
            <td>87,25</td>
            
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck3">
                  <label class="custom-control-label" for="customCheck3">3</label>
              </div>
            </td>
            <td>Fornecedor 3</td>
            <td>30 UND</td>
            <td>84,60</td>
            
          </tr>
        </tbody>
      </table>
    </p-accordionTab>
  </p-accordion>
</div>
</body>
</html>
