<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="../../../assets/img/login.png" alt="login">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastro Cliente</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Nome </label>
                        <input id="firstname" type="text" name="firstname" placeholder="Digite seu nome" required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">Razão Social</label>
                        <input id="lastname" type="text" name="lastname" placeholder="Digite a razão social" required>
                    </div>
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>

                    <div class="input-box">
                        <label for="email">Cidade</label>
                        <input id="email" type="email" name="email" placeholder="Digite sua cidade" required>
                    </div>

                    <div class="input-box">
                        <label for="email">Estado</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu Estado" required>
                    </div>

                    <div class="input-box">
                        <label for="number">CNPJ</label>
                        <input id="number" type="tel" name="number" placeholder=" XX. XXX. XXX/0001-XX." required>
                    </div>

                    <div class="input-box">
                        <label for="number">Telefone(DDD+Numero)</label>
                        <input id="number" type="tel" name="number" placeholder="xx xxxxx-xxxx" required>
                    </div>

                    <div class="input-box">
                        <label for="email">Categoria de vendas</label>
                        <input id="email" type="email" name="email" placeholder="Digite sua categoria" required>
                    </div>

                    <div class="input-box">
                        <label for="email">Ramo de atividade</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu ramo" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>


                    <div class="input-box">
                        <label for="confirmPassword">Confirme sua Senha</label>
                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Digite sua senha novamente" required>
                    </div>

                </div>

                <div class="continue-button">
                    <a routerLink="/inicioUsuario">
                    <button> Continuar</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>

